_build/
_build-dir/
.flatpak/
.flatpak-builder/
_tmp/
_repo/
src/precompiled/
src/io.github.supertoq.finden.gresource.c
src/finden
src/supertoq-finden
src/miniterm/supertoq-miniterm
io.github.supertoq.finden.flatpak